.brands
  container()
  padding-top 50px

  &__title
    margin-bottom 15px
    font-size 1.5rem

  &__list
    margin -10px 0
    margin-bottom 10px
    lost-center 1245px
  
  &__item
    box-sizing border-box
    margin 10px 0
    lost-column 1/4 4 20px
    border 1px solid $concrete

  &__image
    display flex
    justify-content center
    align-items center
    min-height 126px
