@font-face
  font-weight 400
  font-style normal
  font-family "SFUI Regular"
  src local("SFUI-Regular"), url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff")

$font = "SFUI Regular", Arial, Helvetica, sans-serif